<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
        .footer {
            position: fixed;
            bottom: 0;
            text-align: center;
        }
        </style>
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="container">
        <div class="page-header">
            <h1>Short url.. REVEAL YOURSELF</h1>
        </div>

        <p class="lead">
            If you're tired of not knowing what all these short urls redirects you to, this site is for you.
        </p>

        <form class="form-inline">
            <input type="url" class="form-control reveal-search" placeholder="Reveal long url" required />
            <button class="btn btn-primary reveal">Reveal</button>
        </form>

        <p class="response-field"></p>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">I AM STICKY FOOTER. <a class="pull-right" href="http://www.twitter.com/bjarneo_">@bjarneo_</a></p>
        </div>
    </footer>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
        -->
        <script>
        (function() {
            'use strict';

            var ajax = {
                get: function(url, callback) {
                    var req = new XMLHttpRequest();

                    req.onreadystatechange = function() {
                        if (req.readyState === 4 && req.status === 200) {
                            callback(JSON.parse(req.responseText));
                        } else {
                            callback(false)
                        }
                    }.bind(this);

                    req.open('GET', 'url/?url=' + url, true);
                    req.send(null);
                },
            };

            var responseField = document.querySelector('.response-field');
            var append = function(text) {
                responseField.innerHTML = text;
            };

            var reveal = document.querySelector('.reveal'),
                input = document.querySelector('.reveal-search');

            reveal.addEventListener('click', function(e) {
                e.preventDefault();

                ajax.get(input.value, function(res) {
                    if (!res) {
                        return false;
                    }

                    if (res.long_url) {
                        append(String(res.long_url));
                    } else {
                        append('This is not a shortened url')
                    }
                })
            }, false);

        }());
        </script>
    </body>
</html>